<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link
            href="https://font.elice.io/css?family=Elice+DX+Neolli"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <style>
        html,
        body {
            font-family: "Elice DX Neolli", sans-serif;
        }

        .dropdown-toggle:after {
            content: none;
        }

        .comment .btn-group {
            display: none;
        }

        .comment:hover .btn-group {
            display: flex;
        }
        .createAtFontArea{
            font-size: 10px;
        }
        .createAtFontArea1{
            font-size: 10px;
            margin-top: 0;
        }
         .createAtFont{
             color: gray;
             margin-bottom: 0;
         }
    </style>
    <title th:text="${post.postTitle}"></title>
</head>
<body>
<div class="container my-5 mx-auto">
    <a
            class="link link-offset-1 link-offset-2-hover text-sm fs-6 mb-2 d-block"
            style="transition: all 0.1s ease-in-out"
            th:href="@{/boards/{board_id}(board_id=${post.board.boardId})}"
    >&larr; 게시판으로 돌아가기</a
    >


    <!-- 게시글 헤더 부분 -->
    <div class="container border rounded p-4 position-relative">
        <div class="header mb-3">
            <h2 class="text-start" th:text="${post.postTitle}">게시글 제목</h2>
            <div style="display: flex">
                <p>작성자 : </p>
                <p id="Author" th:text = "${post.user.loginId}"> </p>
            </div>
            <div style="display: flex" class="createAtFontArea">
                <p class="createAtFont" >생성일 : </p>
                <small class="text-secondary" th:text="${post.createdAt}">게시글 생성일</small>
            </div>
            <div style="display: flex" class="createAtFontArea">
                <p class="createAtFont" >수정일 : </p>
                <small class="text-secondary" th:text="${post.updatedAt}">게시글 수정일</small>
            </div>

        </div>

        <!--게시글 내용-->
        <p class="m-0" th:text="${post.postContent}">게시글 내용</p>


        <hr class="mt-4" />


        <!--댓글 개수-->
        <h4 class="mb-3">
            댓글
            <small
                    class="text-secondary"
                    id="commentsCount"
                    th:text="${comments.size()}"
            >0</small
            >
        </h4>




        <!--댓글 목록 카드-->
        <div
                class="container p-0 d-flex flex-column align-items-start gap-2"
                th:unless="${#lists.isEmpty(comments)}"
        >
            <div
                    class="card comment"
                    style="min-width: 30%"
                    th:each="comment : ${comments}"
            >
                <div class="card-body position-relative">
                    <p id="commentAuthor" th:text = "${comment.user.loginId}">작성자</p>
                    <div style="display: flex" class="createAtFontArea1">
                        <p class="createAtFont" >생성일 : </p>
                        <small class="text-secondary" th:text="${comment.createdAt}">댓글 생성일</small>
                    </div>
                    <div style="display: flex" class="createAtFontArea">
                        <p class="createAtFont" >수정일 : </p>
                        <small class="text-secondary" th:text="${comment.updatedAt}">댓글 생성일</small>
                    </div>

                    <p class="mb-2" th:text="${comment.commentContent}" style="margin-top: 10px">댓글 내용</p>
                </div>

                <!--수정, 삭제 버튼-->

                    <div
                            class="position-absolute end-0 top-50 translate-middle-y mb-3 me-3 btn-group bg-white bg-opacity-75"
                            role="group"
                            aria-label="edit-delete"
                    >
                        <button
                                class="btn btn-outline-primary lh-1"
                                data-bs-toggle="modal"
                                data-bs-target="#editCommentModal"
                                th:onclick="handleEditCommentButton(event, [[${comment.commentId}]], [[${comment.commentContent}]],
                            [[${loginId}]], [[${comment.user.loginId}]], [[${post.postId}]]);"
                        >
                            <span class="material-symbols-outlined"> edit </span>
                        </button>
                        <button
                                class="btn btn-outline-danger lh-1"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteCommentModal"
                                th:onclick="handleDeleteCommentButton(event, [[${comment.commentId}]], [[${post.postId}]],
                                [[${comment.user.loginId}]], [[${loginId}]]);"
                        >
                            <span class="material-symbols-outlined"> delete </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    <!-- 댓글이 하나도 없으면~ -->
        <span
                th:if="${#lists.isEmpty(comments)}"
                class="d-block w-100 text-center"
        >댓글이 없습니다.</span
        >

        <!--요청-->
        <form
                class="mt-3 row"
                th:action="@{/comment(postId=${post.postId})}"
                method="POST"
        >
            <!--댓글 업로드-->
            <div class="input-group">
            <textarea
                    class="form-control"
                    name="commentContent"
                    cols="6"
                    placeholder="댓글 작성하기"
            ></textarea>
                <button class="btn btn-primary">업로드</button>
            </div>
        </form>

        <div class="position-absolute top-0 end-0 mt-4 me-4">
            <button
                    class="btn btn-light lh-1 p-0 px-2 dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
            >
                <span class="material-symbols-outlined"> more_horiz </span>
            </button>

            <!--게시글 수정-->
            <ul class="dropdown-menu dropdown-menu-end">
                <li>

                    <button
                            class="dropdown-item d-flex align-items-center gap-2"
                            th:onclick="'location.href=\'/post/' + ${post.postId} + '/edit\''"
                        >
                        <span class="material-symbols-outlined"> edit </span>수정
                    </button>
                </li>


                <li>
                    <button
                            class="dropdown-item text-danger btn btn-danger d-flex align-items-center gap-2"
                            data-bs-toggle="modal"
                            data-bs-target="#deletePostModal"
                            th:onclick="handleDeletePostButton(event, [[${post.postId}]], [[${post.board.boardId}]],
                            [[${post.user.loginId}]], [[${loginId}]]);"
                    >
                        <span class="material-symbols-outlined"> delete </span>삭제
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>



<div
        class="modal fade"
        id="deletePostModal"
        tabindex="-1"
        aria-labelledby="deletePostModalLabel"
        aria-hidden="true"
>


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletePostModalLabel">
                    게시글을 삭제하시겠습니까? <br> 게시글과 댓글이 삭제됩니다.
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>

            <div class="modal-body">
                <p class="fw-light">게시글 작성자만 삭제할 수 있습니다.</p>
            </div>

            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >
                    취소
                </button>

                <button
                        type="button"
                        class="btn btn-danger"
                        onclick="handleDeletePostModalButton()"
                >
                    삭제
                </button>

            </div>
        </div>
    </div>
</div>


<div
        class="modal fade"
        id="editCommentModal"
        tabindex="-1"
        aria-labelledby="editCommentModalLabel"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editCommentModalLabel">
                    댓글 수정하기
                </h1>

                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>

            <form id="commentEditForm" method="POST">

                <div class="modal-body">
              <textarea
                      class="form-control"
                      name="commentContent"
                      id="commentContentTextarea"
                      placeholder="댓글 수정하기..."
              ></textarea>
                </div>



                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                    >
                        취소
                    </button>
                    <button class="btn btn-primary" id="editButton">수정</button>

                </div>
            </form>
        </div>
    </div>
</div>


<div
        class="modal fade"
        id="deleteCommentModal"
        tabindex="-1"
        aria-labelledby="deleteCommentModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCommentModalLabel">
                    댓글을 삭제하시겠습니까?
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>

            </div>
            <div class="modal-body">
                <p class="fw-light">댓글 작성자만 삭제할 수 있습니다.</p>
            </div>
            <div class="modal-footer">

                <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    취소
                </button>

                <button
                        id="deleteBtn"
                        type="button"
                        class="btn btn-danger"
                        onclick="handleDeleteCommentModalButton()"
                >
                    삭제
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 부트스트랩 JS 추가 -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
<script th:inline="javascript">
    let currentPost;
    let currentBoard;
    let currentComment;
    let elementToDelete;
    let currentPostUser;
    let currentUser;
    let currentPostId;
    let deleteCommentId
    let commentUserId;

    function handleDeletePostButton(_, postId, boardId, postUser, loginId) {
        currentPost = postId;
        currentBoard = boardId;
        currentPostUser = postUser;
        currentUser = loginId;


    }

    function handleDeletePostModalButton() {
        console.log(currentPostUser);
        console.log(currentUser);
        if(currentPostUser === currentUser){
            fetch(`/post/${currentPost}/delete`, {
                method: "DELETE",
            }).then(() => (window.location.href = `/boards/${currentBoard}`));}
        else{
            window.location.href = `/post/${currentPost}`;
            alert("게시글 생성자가 아닙니다!");
        }

    }

    function handleDeleteCommentButton(e,  commentId, postId, commentUser, loginId) {
        currentComment = commentId;
        currentPost = postId;
        deleteCommentId = loginId;
        commentUserId = commentUser;
        elementToDelete = e.target.closest(".card");

        let btn = document.getElementById("deleteBtn");
        console.log(deleteCommentId);
        console.log(commentUserId);
        if(commentUserId === deleteCommentId){

            console.log("같음!");
            btn.style.display='block';
        }else{
            console.log("다름!");
            btn.style.display='none';
        }
    }

    function handleDeleteCommentModalButton() {
        if(currentComment === deleteCommentId){
            fetch(`/comments/${currentComment}`, {
                method: "DELETE",
            }).then(() => elementToDelete.remove());

            const commentsCount = document.getElementById("commentsCount");
            commentsCount.innerText = parseInt(commentsCount.innerText) - 1;

            const modal = bootstrap.Modal.getInstance("#deleteCommentModal");
            modal.hide();

        }else{
            fetch(`/comment/${currentComment}/delete`, {
            method: "DELETE",
        }).then(() => (window.location.href = `/post/${currentPost}`));

            const commentsCount = document.getElementById("commentsCount");
            commentsCount.innerText = parseInt(commentsCount.innerText) - 1;

            const modal = bootstrap.Modal.getInstance("#deleteCommentModal");
            modal.hide();
        }


    }

    function handleEditCommentButton(_, commentId, content, commentLoginId, loginId) {
        let btn = document.getElementById("editButton");
        console.log(commentLoginId);
        console.log(loginId);
        if (commentLoginId === loginId) {
            console.log("같음!");
            document.getElementById("commentContentTextarea").innerText = content;
            document
                .getElementById("commentEditForm")
                .setAttribute("action", `/comment/${commentId}/edit`);
            btn.style.display='block';
        } else {
            console.log("다름!");
            document.getElementById("commentContentTextarea").innerText = "다른 사람의 댓글입니다";

            btn.style.display='none';
    }
        }
</script>

</body>
</html>
