<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <style>
        html,
        body {
            font-family: "Elice DX Neolli", sans-serif;
        }
    </style>
    <title>회원가입</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/main.css" />
    <!--비밀번호 확인-->
</head>

<body>
<div class="boards-container">
    <div class="boards-title">
        <p>회원가입</p>
    </div>
    <form th:action="@{/join}" method="post">
    <div class="join-area">
        <div class="joinId_area">
            <input type="text" class="joinId_input" placeholder="아이디(닉네임)를 입력해주세요"
                   id="loginId" name="loginId">
        </div>
        <!--<div class="joinPw_area">
            <input type="text" class="joinPw_input" placeholder="비밀번호를 입력해주세요"
             id="firstPassword">
        </div>-->
        <div class="joinPw_area">
            <input type="text" class="joinPwAgain_input" placeholder="비밀번호를 입력해주세요"
                   id="password" name="password" onmouseout="test()">
        </div>
        <div class="join-buttonArea">
            <button type="submit" class="join-button" ><p>가입하기</p></button>
        </div>
        </div>
</div>
</body>
</html>